@model SIPIweb.Models.tbl_usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Datos de Usuario</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario_login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario_createdDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_createdDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_usuarioTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuarioTipoNavigation.usuarioTipo_nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_usuario">Editar Usuario</a> |
    <a asp-action="Index">Listado de Usuarios</a>
</div>
