@model IEnumerable<SIPIweb.Models.tbl_usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de Usuarios</h1>

<p>
    <a asp-action="Create" asp-controller="precargaUsuario">Carga manual de Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_createdDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_usuarioTipoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_origen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_createdDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_usuarioTipoNavigation.usuarioTipo_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario_origen)
            </td>
            <td>
                @switch (item.id_usuarioTipo)
                {
                    case 1:
                        <a asp-action="Create" asp-controller="precargaPersona" asp-route-id="@item.id_usuario">Datos Persona</a><br />
                        break;
                    case 2: <h1>Prod Site</h1>
                        break;
                }

                <a asp-action="Edit" asp-route-id="@item.id_usuario">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.id_usuario">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id_usuario">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
