@model SIPIweb.Models.tbl_usuarioPersona_tmp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbl_usuarioPersona_tmp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_persona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
