@model SIPIweb.Models.tbl_usuarioPersona

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_usuarioPersona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_sangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_sangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ciudad_nacimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudad_nacimientoNavigation.ciudad_nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ciudad_ubicacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudad_ubicacionNavigation.ciudad_nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_personaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_personaNavigation.usuario_email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_persona" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
