@model SIPIweb.Models.tbl_usuarioPersona

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbl_usuarioPersona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_nacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.persona_sangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.persona_sangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ciudad_nacimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudad_nacimientoNavigation.ciudad_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_ciudad_ubicacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_ciudad_ubicacionNavigation.ciudad_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_personaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_personaNavigation.usuario_email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_persona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
