@model IEnumerable<SIPIweb.Models.tbl_usuarioPersona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_personaNavigation.usuario_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona_nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona_sangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_ciudad_ubicacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_personaNavigation.usuario_login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona_nombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona_sangre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_ciudad_ubicacionNavigation.ciudad_nombre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.id_persona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_persona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_persona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
