@model IEnumerable<SIPIweb.Models.tbl_usuario_tmp>

@{
    ViewData["Title"] = "cargaUsuarioTMPlote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Datos cargados por el CSV</h2>
<h4><b>Origen del CSV: </b>@Model.First().usuario_Origen | <b>Archivo: </b>@ViewData["archivo"] | <b>Archvo: </b>@Model.Count()</h4>    
<p>
    <a asp-action="grabarUsuarioDefinitivo" asp-controller="precargaUsuario">Guardar Usuario Definitivo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Indice
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_usuarioTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int idx = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{idx = idx + 1;}
                    @idx
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_usuarioTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_email)
                </td>
            </tr>
        }
    </tbody>
</table>
