@model IEnumerable<SIPIweb.Models.tbl_usuario_tmp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Datos en la tabla Usuario Temporal</h2>

<p>
    <a asp-action="Create">Crear Usuario Temporal</a> |
    <a asp-action="cargaUsuarioTMPlote" onclick="return checkForm(this);">Carga Usuario Temporal por CSV</a> |
    <a asp-action="limpiaUsuarioTMP" onclick="return checkForm(this);">Limpia Usuario Temporal</a> |
    <a asp-action="index" asp-controller="usuario">Lista de Usuario Definitivo</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_usuarioTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_usuarioTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
          </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function checkForm(form) {
        if (confirm('Esta seguro que desea eliminar toda la tabla temporal de Usuario?')) {
            return true;
        } else {
            alert('No se realizará la limpieza de la tabla temporal de usuario');
            return false;
        }
    }
</script>
